/* order-seat */
body {
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    letter-spacing: -1px;
} 
main {
    display: block;
    overflow: visible;
    position: relative;
    width: 950px;
    min-height: 655px;
    padding: 0 0 53px;
    margin: 0 auto;
    margin-bottom: 20px;
}
/* 좌석 선택 */
.select {
    float: left;
    width: 682px;
}
.box_seat_top {
    height: 49px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}
.box_seat_top .tit_seat {
    position: relative;
    padding: 11px 0 0 28px;
    font-size: 16px;
    color: #404040;
    height: 38px;
    width: 655px;
    overflow: hidden;
}
.box_seat_top .tit_seat .tit_s {
    font-size: 16px;
    font-weight: normal;
    color: #404040;
    margin-left: 18px;
    vertical-align: top;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 52%;
}
.box_seat_top .seat_sel {
    position: absolute;
    top: 9px;
    right: 1px;
    border: 1px solid #ccc;
    height: 31px;
    line-height: 31px;
}
.box_seat_top .seat_sel .sel_cate {
    width: 218px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    border: 0 none;
    padding-left: 3px;
}
.seat {
    position: relative;
}
.seat_box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 682px;
    background: #333;
}
.seat_box .seat_btn {
    height: 35px;
    padding: 0 10px 0 30px;
    font-size: 16px;
    color: #fff;
    line-height: 35px;
    cursor: pointer;
}
/* 티켓 정보 영역 */
.ticket_info {
    position: relative;
    float: left;
    width: 245px;
    padding: 14px 10px 14px 13px;
    height: 680px;
    background-color: #fafafa;
}
.ticket_info .logo {
    padding-left: 65px;
    height: 22px;
}
.ticket_info .box_info {
    position: relative;
    padding-top: 14px;
}
.minimap {
    position: relative;
    width: 245px;
    height: 180px;
    overflow: hidden;
}
.ticket_info .wrap_seat_list {padding-top: 25px;}
.ticket_info .wrap_seat_list .seat_list {position: relative;}
.ticket_info .select_tit {
    padding-bottom: 6px;
    font-weight: normal;
    font-size: 16px;
    color: #333;
}
.ticket_info .select_tit > i {
    overflow: hidden;
    display: inline-block;
    margin-left: 4px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
}
.ticket_info .select_tit > a {
    margin-left: 46px;
    padding-left: 7px;
    margin-bottom: 2px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.ticket_info .select_tit > a > span {
    display: inline-block;
    height: 17px;
    padding: 1px 8px 0 0;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #666;
}
.ticket_info .seat_list .box_seat {
    width: 240px;
    border: 1px solid #eee;
    background-color: #fff;
}
.ticket_info .seat_list .box_seat_area {
    overflow-y: auto;
    margin: 0 0 0 0;
    padding-top: 9px;
    height: 201px;
}
.ticket_info .seat_list .box_seat_area .tbl {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
.ticket_info .seat_list .box_seat_area tr {cursor: pointer;}
.ticket_info .seat_list .box_seat_area th.seat_color {
    display: inline-block;
    vertical-align: top;
}
.ticket_info .seat_list .box_seat_area th.seat_color > em {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 10px;
}
.ticket_info .seat_list .box_seat_area td {
    font-size: 13px;
    font-weight: normal;
    padding: 7px 0 6px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0;
}
.ticket_info .seat_list .box_seat_area td.seat_name {width: 100px;}
.btn_onestop {
    position: absolute;
    left: 15px;
    bottom: 10px;
}
.btn_onestop .button.btNext {
    border: 1px solid #888;
    background: #888;
}
.btn_onestop .button {
    display: inline-block;
    position: relative;
}
.btn_onestop .button .btnOne.btnOneB {width: 243px;}
.btn_onestop .button.btNext .btnOne {color: #fff;}
.btn_onestop .button .btnOne {
    display: block;
    width: 118px;
    height: 48px;
    font-size: 14px;
    line-height: 48px;
    text-align: center;
}


/* order-price */
body {
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    letter-spacing: -1px;
} 
main {
    display: block;
    overflow: visible;
    position: relative;
    width: 952px;
    min-height: 655px;
    padding: 0 0 53px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* 가격 선택 상단 */
.location_step .list_step {
    display: block;
    overflow: hidden;
    position: relative;
    height: 50px;
    background: #f9f9f9;
}
.location_step .list_step .btn_menu {
    display: block;
    overflow: hidden;
    height: 50px;
    font-size-adjust: 16px;
    font-weight: bold;
    line-height: 50px;
}
.location_step .list_step .btn_menu01 {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    padding-left: 80px;
}
.location_step .list_step .btn_menu02 {
    position: absolute;
    top: 0;
    left: 240px;
    width: 240px;
    padding-left: 80px;
}
.location_step .list_step .btn_menu03 {
    position: absolute;
    top: 0;
    left: 480px;
    width: 202px;
    padding-left: 80px;
}
/* 티켓 가격 선택 */
.box_r {
    overflow-y: auto;
    width: 636px;
    height: 574px;
    padding: 29px 16px 0 30px;
}
.box_select_t {position: relative;}
.select_tit {
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}
.box_select .box_ticket {width: 620px;}
.box_select .box_ticket h4 {
    display: block;
    overflow: hidden;
    position: relative;
    height: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;
}
.box_select .box_ticket h4 .tit_ticket {
    display: block;
    font-size: 14px;
    line-height: 38px;
    margin: 0 8px;
    color: #333;
}
.box_select .box_ticket h4 .txt {
    display: block;
    position: absolute;
    top: 0;
    right: 20px;
    font-weight: normal;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0;
    color: #333;
}
.box_select .box_ticket h4 .txt span {
    font-weight: normal;
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 0;
    color: #333;
}
.box_select .box_ticket h4 .txt em {
    font-size: 14px;
    font-weight: bold;
    color: #00b523;
}
.box_select .list_ticket {
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    line-height: 38px;
}
.box_select .list_ticket .box_ticket_t {
    display: block;
    overflow: hidden;
    margin: 0 8px;
}
.box_select .list_ticket .box_ticket_t .tit_tk {
    display: inline-block;
    width: 270px;
    color: #333;
    height: 38px;
    font-size: 13px;
    line-height: 38px;
    vertical-align: top;
    margin-top: 3px;
}
.box_select .list_ticket .box_ticket_t .tit_tk.base_pr {
    font-weight: bold;
    width: 373px;
    margin-top: 0;
}
.box_select .list_ticket .box_ticket_t .price.price_sale_r.txt_bd {color: #000;}
.box_select .list_ticket .box_ticket_t .price.price_sale_r {
    width: 96px;
    vertical-align: top;
    letter-spacing: 0;
}
.box_select .list_ticket .box_ticket_t dd.price {
    display: inline-block;
    text-align: right;
    line-height: 38px;
}
.txt_bd {font-weight: bold;}
.box_select .list_ticket .box_ticket_t .price.sel{
    width: 113px;
    vertical-align: middle;
}
.box_select .list_ticket .box_ticket_t dd.sel .sel_cate {
    overflow: hidden;
    width: 64px;
    height: 24px;
    padding-left: 18px;
    border: 1px solid #ddd;
    margin-top: -1px;
    letter-spacing: 0;
    color: #333;
}

/* 할인수단 선택 */
.box_top {padding-top: 30px;}
.box_select_t {position: relative;}
.box_select .list_coupon {
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    line-height: 40px;
}
.box_select .list_coupon .list_coupon_t.frt {border-top: 1px solid #eee;}
.ticket_btn_cp {
    width: 605px;
    cursor: pointer;
}
.box_select .list_coupon .box_coupon_t {
    display: block;
    overflow: hidden;
}
.box_select .list_coupon .box_coupon_t .tit_cp {
    display: inline-block;
    width: 320px;
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    line-height: 40px;
}
.txt_gr {
    color: #00b523;
    font-weight: bold;
    font-size: 14px;   
}
.txt_gr > span {
    color: #00b523;
    font-weight: bold;
    font-size: 14px;   
}

/* 티켓 정보 영역 */
.ticket_info {
    position: relative;
    float: left;
    width: 245px;
    padding: 14px 10px 14px 13px;
    height: 624px;
    background-color: #fafafa;
}
.ticket_info .box_info .select_tit.select_t {
    overflow: hidden;
    line-height: 19px;
    max-height: 33px;
    margin-top: 7px;
    margin-bottom: 7px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    font-weight: normal;
}
.ticket_info .box_info .box_ticket {
    position: relative;
    width: 240px;
    border: 1px solid #eee;
    background-color: #fff;
}
.ticket_info .box_info .box_ticket .box_ticket_list {
    margin: 10px 9px;
    font-size: 13px;
    line-height: 20px;
}
.ticket_info .box_info .box_ticket .box_ticket_list .nth1 {
    padding: 0 0 10px;
    border-bottom: 1px solid #eee;
    letter-spacing: 0;
}
.ticket_info .box_info .box_ticket .box_ticket_list .nth {margin-left: 5px;}
.ticket_info .box_info .box_ticket .box_ticket_list .nth2 {padding-top: 10px;}

/* 결제금액 */
.ticket_info .box_info .box_ticket .box_total_inner {
    overflow: hidden;
    margin: 10px 14px;
    line-height: 20px;
}
.ticket_info .box_info .box_ticket .box_total_inner .tk_b {
    font-size: 14px;
    color: #333;
}
.ticket_info .box_info .box_ticket .box_total_inner .tk_tit {
    float: left;
    width: 37%;
    height: 20px;
    font-size: 14px;
}
.ticket_info .box_info .box_ticket .box_total_inner .pay {
    float: right;
    width: 63%;
    height: 20px;
    text-align: right;
    letter-spacing: 0;
    font-size: 14px;
}
.ticket_info .box_info .box_ticket .box_total_inner .pay > span {font-size: 14px;}
.ticket_info .box_info .box_ticket .box_total_inner .list_tkpay {
    line-height: 24px;
    color: #888;
    padding-top: 25px;
}
.ticket_info .box_info .box_ticket .box_total_inner .list_tkpay .tk_tit {height: 24px; font-size: 12px;}
.ticket_info .box_info .box_ticket .box_total_inner .list_tkpay .pay {height: 24px; font-size: 12px;}
.ticket_info .box_info .box_ticket .box_total_inner .list_tkpay .pay > span {font-size: 12px;}

.ticket_info .box_info .box_ticket .box_result {
    margin: 0;
    padding: 15px;
    border-top: 1px solid #eee;
    font-weight: bold;
}
.ticket_info .box_info .box_ticket .box_result .tot_tit {
    font-size: 14px;
    color: #333;
}
.ticket_info .box_info .box_ticket .box_result .tot_pay {
    font-size: 22px;
    color: #00b523;
}
.ticket_info .box_info .box_ticket .box_result .tot_pay > span {
    font-size: 22px;
    color: #00b523;
}
.ticket_info .box_info_bm .box_info_list {padding: 10px 0;}
.one_list li {
    position: relative;
    font-size: 12px;
    margin-bottom: 1px;
    padding: 0 0 0 6px;
    line-height: 18px;
}
.txt_og {color: #f28e47;}
.one_list .btn_detail {
    display: inline-block;
    width: 49px;
    height: 18px;
    padding-left: 8px;
    margin-left: 0;
    margin-bottom: 2px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
}
.one_list .btn_detail > span {font-size: 11px;}

/* 상세보기 탭 */
.floating_hover_box {
    display: none;
    position: absolute;
    width: 440px;
    right: -8px;
    bottom: 22px;
}

.btn_onestop .button.frt {
    margin-right: -3px;
}
.btn_onestop .button.btWhite a {
    border: 1px solid #ccc;
    background: #fff;
}
.btn_onestop .button.btNext.on {
    border: none;
    background: #41d26b;
}
.btn_onestop .button.btNext.on a {
    border: 1px solid #41d26b;
    background: #41d26b;
}





/* order_final */

/* 수령방법 */
input {
    font-size: 12px;
    line-height: 1.5;
    color: #666;
    letter-spacing: -1px;
}
.list_receipt_how {padding: 10px 0 0 6px;}
.list_receipt_how li {
    display: inline-block;
    vertical-align: top;
}
.list_receipt_how label {
    line-height: 18px;
    padding-right: 38px;
}
.list_receipt_how label input {vertical-align: middle;}
.list_receipt_how .txt_lab {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: #333;
    vertical-align: bottom;
}
.box_how .txt {
    padding: 7px 0 0 6px;
    color: #888;
}

/* 주문자 정보 */
.box_info_use {
    padding: 0 20px 0 15px;
    line-height: 46px;
}
.box_gray {
    width: 580px;
    margin-top: 20px;
    padding: 14px 20px 22px;
    background-color: #fafafa;
    line-height: 30px;
}
.tit_receipt {
    height: 46px;
    line-height: 46px;
    font-weight: normal;
    font-size: 14px;
    color: #333;
}
.tbl {
    height: 40px;
    border-collapse: collapse;
    border-spacing: 0;
}
.box_inp_opt th {text-align: left;}
.txt_gray {
    font-weight: normal;
    color: #888;
}
.box_inp_opt th .require {
    color: #f0780a;
    font-size: 16px;
    padding-left: 4px;
}
.box_inp_opt td {
    position: relative;
    width: 100px;
    padding: 8px 10px;
    letter-spacing: 0;

}
.txt_more {
    height: 46px;
    line-height: 46px;
}

 /* 결제수단 */
 .box_payment {margin-top: 24px;}
 .box_payment .list_receipt_how label {padding-right: 28px;}
 .wrap_sel .btn_sel .sel_cate {
     padding-left: 5px;
     line-height: 24px;
     text-align: left;
     border: 1px solid #ddd;
 }
 .box_payment select {
     width: 198px;
     height: 24px;
 }
 .box_gray input {height: 22px;}

 /* 예매자동의 */
 .box_receipt {margin: 20px 0;}
 .box_receipt .box_agree {
     font-size: 13px;
     line-height: 38px;
 }
 .box_receipt .box_agree .list_agree.frt {
     border-top: 0; 
     height: 40px;
    }
 .box_receipt .box_agree .list_agree {border-top: 1px solid #ddd;}
 .box_receipt .box_agree .list_agree .select_tit {position: relative;}
 .box_receipt .box_agree .list_agree .tit_check_r {
     display: block;
     position: absolute;
     top: 0;
     right: 10px;
     font-weight: normal;
     color: #333;
     font-size: 14px;
 }
 .box_receipt .box_agree .list_agree .txt_lab {padding-left: 2px;}
 .box_receipt .box_agree .list_agree .tit_check {line-height: 40px;}
 .box_receipt .box_agree .list_agree .box_ar_info {
     padding: 0 20px;
     margin: 0 0 18px;
 }
 .box_receipt .box_agree .list_agree .box_ar_info .tb_date {
     width: 552px;
     padding: 5px 0;
     text-align: center;
     background-color: #fafafa;
 }
 .box_receipt .box_agree .list_agree .box_ar_info .tb_date .tb_date_th {border-bottom: 1px solid #eee;}
 .box_receipt .box_agree .list_agree .box_ar_info .tb_date th {
     padding: 5px 0;
     color: #999;
 }
 .box_receipt .box_agree .list_agree .box_ar_info .tb_date td {
     padding: 4px 0;
     color: #888;
     letter-spacing: 0;
 }
 .box_receipt .box_agree .list_agree .box_ar_info .list_ds {
     padding-top: 10px;
     color: #888;
     line-height: 24px;
 }
 .btn_flexible_ico2 {
     background-position: left -860px;
     padding-left: 7px;
 }
 .btn_detail {
    display: inline-block;
    width: 49px;
    height: 18px;
    padding-left: 8px;
    margin-left: 0;
    margin-bottom: 2px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
 }
 .btn_flexible_ico2 span {
     font-size: 11px;
     color: #666;
 }