<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Ticket</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/slider.js}"></script>
    <script type="text/javascript">
        functionMainRolling('slider', 'sliderInner', true , 3000); //메인 탑 롤링
    </script>
    <style>  
        

    </style>
</head>
<body>
    <div id="wrapper">
        
        <!-- header 시작 -->
        <header th:include="/fragments/_header.html::_header"></header>
        <!-- header 끝 -->
        
        <main>

            <!-- main content 시작 -->
            <div layout:fragment="content"></div>
            <!-- main content 끝 -->
            
        </main>

        <div class="footer_notice">
            <strong>공지사항</strong>
            <ul>
                <li>
                    <p>
                        <a href="#">[시스템작업] KCT전산작업으로 인한 결제중단 안내</a>
                        <span>2020.08.21</span>
                    </p>
                </li>
            </ul>
        </div>

        <!-- footer 시작 -->
        <footer th:include="/fragments/_footer.html::_footer"></footer>
        <!-- footer 끝 -->
        
        <button type="button" id="top">상단이동</button>
    </div>
    
</body>
</html>