<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="/layout/layout_main.html">

 <section layout:fragment="content">
 
 			<div class="main_slider">
                <div id="slider">
                    <a href="#" class="prev"><span><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></span></a>
                    <div class="slider_inner">
                        <ul class="list_slider" style="width: 3797; left: -1076px;">
                            <li class="on">
                                <a href="#" class>
                                    <span class="thumb">
                                        <span class="thumb_off">
                                            <img src="./img/thumb_on.PNG" onerror="noImage(this, 256, 320)">
                                            <span class="frame"></span>
                                        </span>
                                    </span>
                                    <span class="txt">
                                        <span class="name">LIFE OASIS</span>
                                        <span class="opt">라네즈의 몰입형 디지털 아트 전시회</span>
                                    </span>
                                </a>
                            </li>
                            <li class="on">
                                <a href="#" class>
                                    <span class="thumb">
                                        <span class="thumb_off">
                                            <img src="./img/thumb_on.PNG" onerror="noImage(this, 256, 320)">
                                            <span class="frame"></span>
                                        </span>
                                    </span>
                                    <span class="txt">
                                        <span class="name">LIFE OASIS</span>
                                        <span class="opt">라네즈의 몰입형 디지털 아트 전시회</span>
                                    </span>
                                </a>
                            </li>
                            <li class="on">
                                <a href="#" class>
                                    <span class="thumb">
                                        <span class="thumb_off">
                                            <img src="./img/thumb_on.PNG" onerror="noImage(this, 256, 320)">
                                            <span class="frame"></span>
                                        </span>
                                    </span>
                                    <span class="txt">
                                        <span class="name">LIFE OASIS</span>
                                        <span class="opt">라네즈의 몰입형 디지털 아트 전시회</span>
                                    </span>
                                </a>
                            </li>
                            <li class="on">
                                <a href="#" class>
                                    <span class="thumb">
                                        <span class="thumb_off">
                                            <img src="./img/thumb_on.PNG" onerror="noImage(this, 256, 320)">
                                            <span class="frame"></span>
                                        </span>
                                    </span>
                                    <span class="txt">
                                        <span class="name">LIFE OASIS</span>
                                        <span class="opt">라네즈의 몰입형 디지털 아트 전시회</span>
                                    </span>
                                </a>
                            </li>
                            <li class="on">
                                <a href="#" class>
                                    <span class="thumb">
                                        <span class="thumb_off">
                                            <img src="./img/thumb_on.PNG" onerror="noImage(this, 256, 320)">
                                            <span class="frame"></span>
                                        </span>
                                    </span>
                                    <span class="txt">
                                        <span class="name">LIFE OASIS</span>
                                        <span class="opt">라네즈의 몰입형 디지털 아트 전시회</span>
                                    </span>
                                </a>
                            </li>
                            <li class="on">
                                <a href="#" class>
                                    <span class="thumb">
                                        <span class="thumb_off">
                                            <img src="./img/thumb_on.PNG" onerror="noImage(this, 256, 320)">
                                            <span class="frame"></span>
                                        </span>
                                    </span>
                                    <span class="txt">
                                        <span class="name">LIFE OASIS</span>
                                        <span class="opt">라네즈의 몰입형 디지털 아트 전시회</span>
                                    </span>
                                </a>
                            </li>
                            <li class="on">
                                <a href="#" class>
                                    <span class="thumb">
                                        <span class="thumb_off">
                                            <img src="./img/thumb_on.PNG" onerror="noImage(this, 256, 320)">
                                            <span class="frame"></span>
                                        </span>
                                    </span>
                                    <span class="txt">
                                        <span class="name">LIFE OASIS</span>
                                        <span class="opt">라네즈의 몰입형 디지털 아트 전시회</span>
                                    </span>
                                </a>
                            </li>
                            <li class="on">
                                <a href="#" class>
                                    <span class="thumb">
                                        <span class="thumb_off">
                                            <img src="./img/thumb_on.PNG" onerror="noImage(this, 256, 320)">
                                            <span class="frame"></span>
                                        </span>
                                    </span>
                                    <span class="txt">
                                        <span class="name">LIFE OASIS</span>
                                        <span class="opt">라네즈의 몰입형 디지털 아트 전시회</span>
                                    </span>
                                </a>
                            </li>
                            <li class="on">
                                <a href="#" class>
                                    <span class="thumb">
                                        <span class="thumb_off">
                                            <img src="./img/thumb_on.PNG" onerror="noImage(this, 256, 320)">
                                            <span class="frame"></span>
                                        </span>
                                    </span>
                                    <span class="txt">
                                        <span class="name">LIFE OASIS</span>
                                        <span class="opt">라네즈의 몰입형 디지털 아트 전시회</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a href="#" class="next"><span><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></span></a>
                </div>
            </div>

            <div id="conts_section">
                <div id="conts">
                    <div class="main_performance">
                        <ul class="list_main_performance">
                            <li id="performance1" class="nth1 on">
                                <h2 class="tit"><a href="#">New! 공연</a></h2>
                                <div class="box_cont">
                                    <ul>
                                        <li>
                                            <div class="thumb">
                                                <a href="#"><img src="./img/main_performance1_1.PNG"></a>
                                            </div>
                                            <div class="txt">
                                                <a href="#">［얼리버드］장 미쉘 바스키아 · 거리，영웅，예술</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <a href="#"><img src="./img/main_performance1_2.PNG"></a>
                                            </div>
                                            <div class="txt">
                                                <a href="#">박소은의 어쿠스틱 단독콘서트［손없는날］</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <a href="#"><img src="./img/main_performance1_1.PNG"></a>
                                            </div>
                                            <div class="txt">
                                                <a href="#">［얼리버드］장 미쉘 바스키아 · 거리，영웅，예술</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <a href="#"><img src="./img/main_performance1_2.PNG"></a>
                                            </div>
                                            <div class="txt">
                                                <a href="#">박소은의 어쿠스틱 단독콘서트［손없는날］</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb">
                                                <a href="#"><img src="./img/main_performance1_2.PNG"></a>
                                            </div>
                                            <div class="txt">
                                                <a href="#">박소은의 어쿠스틱 단독콘서트［손없는날］</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li id="performance2" class="nth2">
                                <h2 class="tit"><a href="#">콘서트/페스티벌</a></h2>
                                <div class="box_cont"></div>
                            </li>
                            <li id="performance3" class="nth3">
                                <h2 class="tit"><a href="#">뮤지컬&연극</a></h2>
                                <div class="box_cont"></div>
                            </li>
                        </ul>
                    </div>

                    <div class="main_banner">
                        <a href="#"><img src="./img/main_banner.PNG" alt="공기남"></a>
                    </div>

                    <div class="main_float">
                        <div class="box_ticket_open">
                            <h2 class="tit_main_float">티켓오픈소식</h2>
                            <ul class="list_ticket_open">
                                <li class="nth1">
                                    <a href="#" class="inner inner_ico">
                                        <span class="ico">
                                            <span class="ico1">단독판매</span>
                                        </span>
                                        <span class="txt">프롬 단독 콘서트［FROMM Sunset Island］티켓 오픈 안내</span>
                                        <span class="more">[오픈]20.08.19(수) 20:00</span>
                                    </a>
                                </li>
                                <li class="nth2">
                                    <a href="#" class="inner ">
                                        <span class="txt">장 미쉘 바스키아 · 거리，영웅，예술 티켓 오픈 안내</span>
                                        <span class="more">오픈일정 보기 ></span>
                                    </a>
                                </li>
                                <li class="nth3">
                                    <a href="#" class="inner ">
                                        <span class="txt">［오픈변경］뮤지컬 〈마리 퀴리〉 3차 티켓 오픈 안내</span>
                                        <span class="more">[오픈]20.08.24(월) 14:00</span>
                                    </a>
                                </li>
                                <li class="nth4">
                                    <a href="#" class="inner inner_ico">
                                        <span class="ico">
                                            <span class="ico1">단독판매</span>
                                        </span>
                                        <span class="txt">옹성우 공식 팬클럽［위로（WELO）］2기 모집 안내</span>
                                        <span class="more">[오픈]20.08.31(월) 12:00</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="ctr"><a href="#">더보기 ></a></div>
                        </div>

                        <div class="box_for_u">
                            <h2 class="tit_main_float">For U</h2>
                            <div class="inner">
                                <p>당신을 위한 맞춤 공연</p>
                                <strong>
                                    나에게 딱 맞는 <span>공연 추천</span>과 <br>
                                    <span>공연 스케줄 관리</span>를 시작해보세요!
                                </strong>
                                <div class="thumb"><img src="./img/main_box_for_u.PNG"></div>
                                <a href="#"><span>For U 시작하기</span></a>
                            </div>
                            <div class="ctr"><a href="#">더보기 ></a></div>
                        </div>

                        <div class="box_ranking">
                            <h2 class="tit_main_float">랭킹</h2>
                            <div class="main_rank">
                                <ul class="list_main_rank">
                                    <li class="nth1 on">
                                        <h2 class="tit"><a href="#">콘서트/페스티벌</a></h2>
                                        <div class="box_cont">
                                            <ol class="list_ranking">
                                                <li class="nth1">
                                                    <a href="#" class="item">
                                                        <span class="inner">
                                                            <span class="ranking">1</span>
                                                            <span class="change">-</span>
                                                            <strong class="tit_cont">프롬 단독 콘서트［FROMM Sunset Island］</strong>
                                                            <span class="day">2020.09.12 </span>
                                                            <span class="location">백암아트홀&nbsp;</span>
                                                            <span class="thumb"><img src="./img/main_list_ranking_nth1_ranking1.PNG"></span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nth2">
                                                    <a href="#" class="item">
                                                        <span class="inner">
                                                            <span class="ranking">2</span>
                                                            <span class="change">-</span>
                                                            <strong class="tit_cont">［re－union］새소년</strong>
                                                            <span class="day">2020.09.12 </span>
                                                            <span class="location">코사이어티&nbsp;</span>
                                                            <span class="thumb"><img src="./img/main_list_ranking_nth1_ranking2.PNG"></span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li class="nth3">
                                                    <a href="#" class="item">
                                                        <span class="inner">
                                                            <span class="ranking">3</span>
                                                            <span class="change">-</span>
                                                            <strong class="tit_cont">［re－union］선우정아</strong>
                                                            <span class="day">2020.09.05 </span>
                                                            <span class="location">코사이어티&nbsp;</span>
                                                            <span class="thumb"><img src="./img/main_list_ranking_nth1_ranking3.PNG"></span>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ol>
                                        </div>
                                    </li>
                                    <li class="nth2">
                                        <h2 class="tit"><a href="#">뮤지컬/연극</a></h2>
                                        <div class="box_cont"></div>
                                    </li>
                                    <li class="nth3">
                                        <h2 class="tit"><a href="#">전시/클래식/기타</a></h2>
                                        <div class="box_cont"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="ctr"><a href="#">더보기 ></a></div>
                        </div>
                    </div>
                    
                    <div class="main_concert">
                        <h2>멜론티켓 PICK! 추천공연</h2>
                        <ul class="list_main_concert">
                            <li class="first">
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert1.PNG"></span>
                                    <strong class="tit">LIFE OASIS</strong>
                                    <span class="day">2020.08.14 - 2020.08.30</span>
                                    <span class="location">에스팩토리 A동</span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert2.PNG"></span>
                                    <strong class="tit">데이먼스 이어 단독 콘서트：Two days too short</strong>
                                    <span class="day">2020.10.24 - 2020.10.25</span>
                                    <span class="location">롤링홀 </span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert3.PNG"></span>
                                    <strong class="tit">［re－union］</strong>
                                    <span class="day">2020.09.04 - 2020.09.13</span>
                                    <span class="location">서울 외 5개 지역</span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert4.PNG"></span>
                                    <strong class="tit">10th Anniversary 백형훈 콘서트</strong>
                                    <span class="day">2020.09.05 - 2020.09.05</span>
                                    <span class="location">백암아트홀 </span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li class="first">
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert1.PNG"></span>
                                    <strong class="tit">LIFE OASIS</strong>
                                    <span class="day">2020.08.14 - 2020.08.30</span>
                                    <span class="location">에스팩토리 A동</span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert2.PNG"></span>
                                    <strong class="tit">데이먼스 이어 단독 콘서트：Two days too short</strong>
                                    <span class="day">2020.10.24 - 2020.10.25</span>
                                    <span class="location">롤링홀 </span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert3.PNG"></span>
                                    <strong class="tit">［re－union］</strong>
                                    <span class="day">2020.09.04 - 2020.09.13</span>
                                    <span class="location">서울 외 5개 지역</span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert4.PNG"></span>
                                    <strong class="tit">10th Anniversary 백형훈 콘서트</strong>
                                    <span class="day">2020.09.05 - 2020.09.05</span>
                                    <span class="location">백암아트홀 </span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li class="first">
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert1.PNG"></span>
                                    <strong class="tit">LIFE OASIS</strong>
                                    <span class="day">2020.08.14 - 2020.08.30</span>
                                    <span class="location">에스팩토리 A동</span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert2.PNG"></span>
                                    <strong class="tit">데이먼스 이어 단독 콘서트：Two days too short</strong>
                                    <span class="day">2020.10.24 - 2020.10.25</span>
                                    <span class="location">롤링홀 </span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert3.PNG"></span>
                                    <strong class="tit">［re－union］</strong>
                                    <span class="day">2020.09.04 - 2020.09.13</span>
                                    <span class="location">서울 외 5개 지역</span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert4.PNG"></span>
                                    <strong class="tit">10th Anniversary 백형훈 콘서트</strong>
                                    <span class="day">2020.09.05 - 2020.09.05</span>
                                    <span class="location">백암아트홀 </span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li class="first">
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert1.PNG"></span>
                                    <strong class="tit">LIFE OASIS</strong>
                                    <span class="day">2020.08.14 - 2020.08.30</span>
                                    <span class="location">에스팩토리 A동</span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert2.PNG"></span>
                                    <strong class="tit">데이먼스 이어 단독 콘서트：Two days too short</strong>
                                    <span class="day">2020.10.24 - 2020.10.25</span>
                                    <span class="location">롤링홀 </span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert3.PNG"></span>
                                    <strong class="tit">［re－union］</strong>
                                    <span class="day">2020.09.04 - 2020.09.13</span>
                                    <span class="location">서울 외 5개 지역</span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="inner">
                                    <span class="thumb"><img src="./img/main_concert4.PNG"></span>
                                    <strong class="tit">10th Anniversary 백형훈 콘서트</strong>
                                    <span class="day">2020.09.05 - 2020.09.05</span>
                                    <span class="location">백암아트홀 </span>
                                    <span class="stat"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
 </section>
 
</html>