<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order_check</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="../css/style.css">
    
</head>
<body>
    <div id="wrapper">
        <header>
            <div id="header_wrap">
                <div id="gnb">
                    <div id="util_menu">
                        <div class="top_left">
                            <ul>
                                <li><a href="#">멜론</a></li>
                            </ul>
                        </div>
                        <div class="top_right">
                            <ul>
                                <li id="name_area"></li>
                                <li><a href="#">로그인</a></li>
                                <li><a href="#">회원가입</a></li>
                                <li><a href="#">고객센터</a></li>
                                <li><a href="#">이용안내</a></li>
                            </ul>
                        </div>
                    </div>
                    <h1 id="logo"><a href="#"><img src="../img/logo.PNG" alt="melon 티켓"></a></h1>
                    <form action="#">
                        <input type="text" name="search"/>
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
                <div id="gnb_menu">
                    <ul>
                        <li><a href="#">홈</a></li>
                        <li><a href="#">콘서트</a></li>
                        <li><a href="#">뮤지컬/연극</a></li>
                        <li><a href="#">클래식</a></li>
                        <li><a href="#">전시/행사</a></li>
                        <li><a href="#">테마/지역</a></li>
                        <li><a href="#">랭킹</a></li>
                        <li><a href="#">티켓오픈소식</a></li>
                        <li><a href="#">이벤트</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">For U</a></li>
                        <li><a href="#">마이티켓</a></li>
                    </ul>
                </div>
            </div>

        </header>
        
       

        <div class="footer_notice">
            <strong>공지사항</strong>
            <ul>
                <li>
                    <p>
                        <a href="#">[시스템작업] KCT전산작업으로 인한 결제중단 안내</a>
                        <span>2020.08.21</span>
                    </p>
                </li>
            </ul>
        </div>

        <footer>
            <div class="footer_quick_link">
                <div class="box1"><a href="#">Melon</a></div>
                <div class="box2">
                    <a href="#">예매가이드</a>
                    <a href="#">티켓판매제휴</a>
                    <span>예매문의(1899-0042)</span>
                </div>
            </div>
            <div class="inner_footer">
                <ul>
                    <li><a href="#" title="회사소개">회사소개</a></li>
                    <li><a href="#" title="이용약관">이용약관</a></li>
                    <li><a href="#" title="멜론티켓이용약관">멜론티켓이용약관</a></li>
                    <li><a href="#" title="전자금융거래약관">전자금융거래약관</a></li>
                    <li><a href="#" title="위치기반서비스 이용약관">위치기반서비스 이용약관</a></li>
                    <li><a href="#" title="개인정보처리방침">개인정보처리방침</a></li>
                    <li><a href="#" title="청소년보호정책">청소년보호정책</a></li>
                    <li><a href="#" title="파트너센터">파트너센터</a></li>
                </ul>
                <p>
                    <strong>(주)카카오</strong> <span>제주특별자치도 제주시 첨단로 242(영평동)</span> <span>공동대표이사 : 여민수, 조수용</span> <span>사업자등록번호 : 120-81-47521</span> <br>
                    <span>통신판매업 신고번호 : 제2015-제주아라-0032호</span> <a href="#">사업자정보확인 ></a> <span>고객센터(평일/주말 09:00~18:00) : 1899-0042 (유료)</span> <br>
                    <span>호스팅제공자 : (주) 카카오</span> <span>© Kakao Corp. All rights reserved.</span>
                </p>
                <div class="safe_service">
                    <dl>
                        <dt>신한은행 구매안전 서비스</dt>
                        <dd>
                            고객님은 안전거래를 위해 현금으로 결제시<br>
                            멜론티켓에서 가입한 신한은행으로<br>
                            구매안전서비스를 이용하실 수 있습니다.
                        </dd>
                        <dd><a href="#">서비스 가입사실 확인></a></dd>
                    </dl>
                </div>
            </div>
            <div class="ban">
                <img src="../img/footer_banner.PNG">
            </div>
        </footer>
    </div>
    
</body>
</html>